<app-top></app-top>

<div *ngIf="inGame; else vitory">
    <!-- <div *ngIf="inGame; else gameOver"></div> -->
    <app-panel (endGame)="endGame($event)"></app-panel>
</div>

<ng-template #vitory >
    <div class="row" *ngIf="isVitory; else defeat">
        <div class="col d-flex justify-content-center align-items-center flex-column">
            <h3 style="color: red; text-align: center;">Parabéns você conseguiu!!</h3>
            <button class="btn btn-primary" (click)="restartGame()">Tentar denovo</button>
        </div>
    </div>
</ng-template>

<ng-template #defeat>
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center flex-column">
            <h3 style="color: red; text-align: center;">Que pena não foi dessa vez, tente outra vez!</h3>
            <button class="btn btn-primary" (click)="restartGame()">Tentar denovo</button>
        </div>
    </div>
</ng-template>